.vscode/*
./.vscode/*
*/.vscode/*
*/*/.vscode/*
*/*/*/.vscode/*
*/*/*/*/.vscode/*
*/*/*/*/*/.vscode/*
*/*/*/*/*/*/.vscode/*
Day09  Model selection and other methods, ANN/example/digit/mnist_train.csv
